{% extends 'base.html'%}

{% block title%}
    Ahim Gdolim Event
{% endblock %}

{% block event_block %}
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for ms in messages %}
                <h4>{{ ms }}</h4>
            {% endfor %}
        {% endif %}
{% endwith %}

   <div id="EventText2" class="EventsText_container">
        <h1> Ahim Gdolim fundraising event </h1>
        <textarea id="ahimGdolim" class="TextAreas">
Ahim Gdolim organization invites you to a fundraising event for autestic children.
Start date:
Monday, 22 February 2022 19:30
Address:
Performing Arts Hall, Jabotinsky 15, Petah Tikva
In the program:
19:30 Reception and light refreshments
21:00 A great stand-up show by Miller (45 minutes)
Looking forward to seeing you,
Ahim Gdolim
        </textarea>
   </div>

    <div class="BottomAreaContainer">
        <div class="bottomAreaGroup">
            <button id="GoBackButton" class="buttons" onclick="window.location.href='/';">Go Back</button>
            {%  if session['user_id'] %}
                <form action="/check_par_Ahim" method="post">
                    <button id="RSVP" class="buttons" name="AhimGdolimID" value=3>RSVP</button>
                </form>
            {% else %}
                <p>You have to log in before RSVPing</p>
            {% endif %}
        </div>
    </div>
    </body>
{% endblock %}

{% block page_body_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/website_CSS2.css') }}"/>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('static', filename='js/webpage_JS.js') }}"></script>
{% endblock %}