{% extends 'base.html'%}

{% block title%}
About As
{% endblock %}

{% block main %}
    <div class="about-section">
      <h1>About Us Page</h1>
      <p>GiveByClick was established in order to reduce poverty, for a better and just society, by providing assistance to needy populations, mobilizing Israeli civil society towards mutual responsibility, and leading change in the national priorities.</p>
    </div>

    <h2 style="text-align:center;font-size: 30px;" id= "ourTeamTitle">Our Team</h2>

    <div class="ourPicsContainer">
      <div class="cardsGroup">
        <img src="/AboutUs/media/MatanPicture.jpeg" class="ourPics">
        <div class="containerAbout">
          <h2>Matan Spiro</h2>
          <p class="title">CEO & Founder </p>
          <p>Started Fuchivolley training, has potential <br> matan@gmail.com</p>
        </div>
      </div>

      <div class="cardsGroup">
        <img src="/AboutUs/media/ShiranPicture.jpeg" class="ourPics">
        <div class="containerAbout">
          <h2>Shiran Hamou</h2>
          <p class="title">Art Director</p>
          <p>Started a new job as a Systems Analyst <br> shiran@gmail.com</p>
        </div>
      </div>

      <div class="cardsGroup">
        <img src="/AboutUs/media/NaorPicture.jpeg" class="ourPics">
        <div class="containerAbout">
          <h2>Naor Pinto</h2>
          <p class="title">Designer</p>
          <p>Great basketball player <br> naor@gmail.com</p>
        </div>
      </div>

      <div class="cardsGroup">
        <img src="/AboutUs/media/OritPicture.jpeg" class="ourPics">
        <div class="containerAbout">
          <h2>Orit Rabani</h2>
          <p class="title">Volunteer</p>
          <p>Currently pursuing a Master's degree <br> orit@gmail.com</p>
        </div>
      </div>
    </div>
{% endblock %}

{% block page_body_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/website_CSS2.css') }}"/>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('static', filename='js/webpage_JS.js') }}"></script>
{% endblock %}