<!-- Site's footer -->
<footer class="site-footer">
    <div id="FooterText">
        <p style="font-size: x-large; text-align:center">You care, You share, You change!</p>
    </div>
    <div class="flex-container">
        <a href="/PrivacyPolicy" class="footer-links" style="text-align: center;">Privacy Policy</a>
        <a href="/FAQ" class="footer-links" style="text-align: center;" >FAQ</a>
        <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/groups/4844012545644379"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/?lang=he"><i class="fa fa-twitter"></i></a></li>
            <li><a class="youtube" href="https://www.youtube.com/watch?v=IG2waIDW7Cc"><i class="fa fa-youtube"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</footer>